.features-item-icon__background {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    height: 120px;

    border-radius: 4px;
    background: #f5f4fa;
}

.features-item__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.features-item__text {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
    .features-item-icon__background {
        max-width: 450px;
    }

    .features__item {
        display: block;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;

        margin-top: calc(-1 * 30px);
        margin-left: calc(-1 * 30px);
    }

    .features__item {
        flex-basis: calc(100% / 2 - 30px);

        margin-top: 30px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .features {
        padding-bottom: 47px;
    }

    .features__list {
        display: flex;

        margin-top: calc(-1 * 30px);
        margin-left: calc(-1 * 30px);
    }

    .features__item {
        flex-basis: calc(100% / 4 - 30px);

        margin-top: 30px;
        margin-left: 30px;
    }
}
